$font-size-text: 1.5rem;
$background-color: hsl(209, 100%, 12%);

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: white;
  text-shadow: 0 0 20px $background-color;
  background-color: $background-color;

}

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

a {
  color: hsl(199, 100%, 80%);
  text-decoration: none;
  font-size: $font-size-text;
}

a:hover {
  color: hsl(199, 100%, 60%);
  text-decoration: underline;
}

$margin-side-section: 9%;

section {
  margin-left: $margin-side-section;
  margin-right: $margin-side-section;
  margin-top: 5%
}


h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: $font-size-text;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 7%;
  padding-right: 7%;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}

nav > * {
  margin: 0.5%;
}
