$font-size-text: 1.3rem;
$background-color: hsl(209, 100%, 12%);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 2.5rem;
  font-family: Open Sans, sans-serif;
  color: white;
  text-shadow: 0 0 20px $background-color;
  background-color: $background-color;

}

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

a {
  color: hsl(199, 100%, 80%);
  text-decoration: none;
  font-size: $font-size-text;
}

a:hover {
  color: hsl(199, 100%, 60%);
  text-decoration: underline;
}

$margin-side-section: 9%;

section {
  margin-left: $margin-side-section;
  margin-right: $margin-side-section;
  margin-top: 5%
}


h1 {
  font-size: 3rem;
}

img.title_img{
  float: left;
  height: 10rem;
  margin-right: 1rem;
}

.title {
  //height: 10rem;
  display: flex;
  align-items:center;
  margin: 1rem;
  width: 100%;
}

h2 {
  font-size: 2.1rem;
}

p {
  font-size: $font-size-text;
}

$nav-padding: 9%;
$navbar-color: rgba(0, 0, 0, 0.8);


nav {
  background-color: $navbar-color;
  padding-left: $nav-padding;
  padding-right: $nav-padding;
  position: fixed;
  top:0;
  left: 0;
  width: calc(100% - #{2 * $nav-padding});
  display: inline-flex;
  justify-content: center;
  align-items:center;
  height: 3rem;

  .arrow img {
    height: 1.5rem;
    width: 1.5rem;
    display: none;
  }

  .menu {
    width: 100%;
    height: 100%;
    display:flex;
    //justify-content: center;
    align-items:center;

    & > * {
      margin: 0.8%;
      font-size: $font-size-text * 0.7
    }

  }
}

.switch {
  margin: 0.8%;
  margin-left: auto;
  order: 2;
}

.tooltiptext {
  opacity: 0.8;
  position: absolute;
  background-color: white;
  color: $background-color;
  padding: 0.6rem;
  text-align: center;
  border-radius: 11px;
  width: 20rem;
  top: 2.7rem;
  right: 0rem;
  visibility:hidden;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 98%;
  left: 90%;
  margin-left: -0.5rem;
 border-width: 0.5rem;
 border-style: solid;
 border-color: transparent transparent white transparent;

}

.switch:hover .tooltiptext {
  visibility: visible;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contacts span {
  margin: 1rem;
  margin-top: 3rem;
}

$contacts-icons-size: 5rem;

.contacts img {
  width: $contacts-icons-size;
  height: $contacts-icons-size;
}

footer {
  width: 100%;

  margin-top: 990px;
  text-align: center;
  display: flex;

  span {
    width: 100%;
    align-self: flex-end;
   padding-bottom: 1rem;
  }
}

@media screen and (max-width: 540px){
  nav .arrow img {
    display: block;
  }

  .title {
    flex-direction: column;
    margin-top: 2rem;
  }

  nav .menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:3rem;
    left: 0;
    width: 15rem;
    height: 13rem;
    background-color: $navbar-color;

    & > * {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;

    }

  }
}

@media screen and (max-width: 375px){
  h1 {
    font-size: 2.5rem;
  }
}
