$font-size-text: 1.5rem;


body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

a {
  color: hsl(199, 100%, 80%);
  text-decoration: none;
  font-size: $font-size-text;
}

a:hover {
  color: hsl(199, 100%, 60%);
  text-decoration: underline;
}


section {
  margin: 9%;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: $font-size-text;
}
