---
import Bloc from "../components/Bloc.astro";
import NavBar from "../components/NavBar.vue";

const date = new Date();
const year = date.getFullYear();
---

<html lang="fr">
  <head>
    <title>Portfolio - Junior Grégoire</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <NavBar client:only="vue" />
    <main>
      <h1>Portfolio de Junior Grégoire - Développeur web</h1>
       
      <Bloc title="Introduction"></Bloc>
      
      <Bloc title="Projects"></Bloc>
        
      <Bloc title="Contact"></Bloc>

    </main>
    <footer>&copy; {year}</footer>
  </body>
</html>

<style is:global lang="scss">

  body {
    background-image: linear-gradient(60deg, hsl(236, 80%, 20%), hsl(236, 100%, 0%));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    font-size: 18px;

    color: white;
    
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    h1, footer {
      text-align: center; 
    }
  }

</style>
