---
import Bloc from "../components/Bloc.astro";
import NavBar from "../components/NavBar.vue";

const date = new Date();
const year = date.getFullYear();
---

<html lang="fr">
  <head>
    <title>Portfolio d'un développeur web</title>
    <link rel="icon" type="image/x-icon" href="/public/code-solid.svg"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="container mx-auto mt-10 bg-gradient-to-br from-black to-blue-800 text-white">
    <NavBar client:only="vue" />
    <main>
      <h1 class="text-center text-5xl my-14">Portfolio d'un développeur web</h1>
       
      <Bloc title="Introduction"></Bloc>
      
      <Bloc title="Projects"></Bloc>
        
      <Bloc title="Contact"></Bloc>

    </main>
    <footer class="my-20 text-center text-sm">&copy; {year}</footer>
  </body>
</html>

