---
const { title } = Astro.props;
---
<section id={title} class="mt-36">
  <h2 class="text-2xl mb-5">{title}</h2>
  <p>
    <slot>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida arcu. Tincidunt praesent semper feugiat nibh sed pulvinar. Laoreet sit amet cursus sit amet dictum. Facilisi cras fermentum odio eu feugiat. Elit ut aliquam purus sit amet. Nunc eget lorem dolor sed viverra ipsum. Nec dui nunc mattis enim ut tellus elementum. At quis risus sed vulputate. Auctor eu augue ut lectus arcu bibendum at varius vel. Consequat id porta nibh venenatis cras. Dignissim suspendisse in est ante in. Pellentesque nec nam aliquam sem et tortor consequat. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Lacus laoreet non curabitur gravida arcu ac tortor. Placerat vestibulum lectus mauris ultrices. Est sit amet facilisis magna. Eget velit aliquet sagittis id. Odio eu feugiat pretium nibh ipsum consequat.
    </slot>
  </p>
</section>

