

<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">

    <meta name="author" content="Junior Grégoire">
    <meta name="keywords" content="junior, gregoire, web developper, django, vuejs, bulma, javascript, html5, python">

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="twitter:image:alt" content="Logo de ParkMonBaïk">

    <link rel="canonical" href="https://juniorgreg.github.io">

    <meta property="og:title" content="" />
    <meta property="og:url" content="https://juniorgreg.github.io" />
    <meta property="og:image" content="" />
    <meta name="description" property="og:description" content="{{ site.description }}"/>


    <title>{{ site.title }}</title>
  </head>
  <body>
    {{ content }}  
  </body>
</html>
