

<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css" media="all">

    <meta name="author" content="Junior Grégoire">
    <meta name="keywords" content="junior, gregoire, web developper, software developper, développeur logiciel, django, vuejs, bulma, javascript, html5, python, c#, css3, css">

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="twitter:image:alt" content="Logo de Junior Gregoire, Développeur logiciel">

    <link rel="canonical" href="{{ site.url }}">
    <link rel="shortcut icon" type="image/svg" href="./assets/images/selfy.svg">

    <meta name="google-site-verification" content="YPrL1Cngt8GG0EUfIaPNNtPWu6ggnSKsawqtCXdLDNs" />

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/images/selfy.png" />
    <meta name="description" property="og:description" content="{{ site.description }}"/>

    <title>{{ site.title }}</title>
  </head>
  <body>
    <nav>
      <div class="arrow">
        <img src="./assets/images/downarrow.svg" alt="menu arrow">
      </div>
      <div class="menu">
        <a href="#intro">Intro</a>
        <a href="#projets">Projets</a>
        <a href="#parcours">Parcours</a>
        <a href="#peuxfaire">Qu'est-ce que je peux faire?</a>
        <a href="#contact">Contact</a>
      </div>

      <label class="switch">
        <input type="checkbox" onclick="enableOrbitControls()" id="controlCheckbox">
        <span class="slider round"></span>
        <span class="tooltiptext">Active l'interaction avec l'arrière-plan</span>
      </label>
    </nav>
    <div id="content">
        {{ content }}
        <footer> <span> &copy; 2021</span></footer>
    </div>




    <script type="text/javascript" src="/assets/js/three.js"></script>
    <script type="text/javascript" type="Module" src="/assets/js/OrbitControls.js">

    </script>

    <script type="text/javascript">

      /* Ui logic code */
      const menuarrow = document.querySelector(".arrow");
      const menu = document.querySelector(".menu");

      menuarrow.onclick = () => {

        const visibility = menu.style.opacity;

        if(visibility === "0"){
          menu.style.opacity = "1";
        }else{
          menu.style.opacity = "0";
        }

      }

      menu.onclick = () => {
        menu.style.opacity ="0";
      }

      /* start background rendering */
        function random(min, max) {
          const number = min + Math.random() * (max - min);
          //console.log(number)
          return number
        }

        function randomInteger(min, max){

          return Math.round(random(min, max))
        }

        function getColor(temp){
          //hue between 0 and 250
          //temp between 3500K and 10000K
          let hue = (temp - 3000) * 250 / 37000;
          let luminosity = 50 + 50*Math.round(Math.abs(Math.tanh((temp - 2000)/20000)));

          /*if(luminosity > 99){
            console.log(hue)
          }*/

          return `hsl(${hue}, 100%, ${luminosity}%)`
        }

        function addConstellation(scene){
          function createStar(scene){

            const maxDistance = 15
            const radius = random(0.01, 0.1)
            const x = random(-maxDistance, maxDistance);
            const y = random(-maxDistance, maxDistance);
            const z = random(-maxDistance, maxDistance);
            const color = getColor(randomInteger(3000, 40000))

            const starGeo = new THREE.SphereGeometry(radius,32,32);
            const starGeo1 = new THREE.SphereGeometry(radius*1.2,32,32);

            const starMat = new THREE.MeshBasicMaterial();
            const starMat1 = new THREE.MeshBasicMaterial();


            starMat.color.set(color)
            starMat1.color.set(color)
            starMat1.transparent = true;
            starMat1.opacity = 0.5;


            const star = new THREE.Mesh(starGeo, starMat);
            const star1 = new THREE.Mesh(starGeo1, starMat1);


            const times = [0, 1]
            const values = [0.9, 0.9, 0.9, 1.2, 1.2, 1.2]

            const scaleKF = new THREE.VectorKeyframeTrack(".scale", times, values);
            const scintingClip = new THREE.AnimationClip("scinting", random(0.5, 3), [
              scaleKF
            ],
            THREE.InterpolateDiscrete )


            const mixer = new THREE.AnimationMixer(star1);
            const action = mixer.clipAction(scintingClip);
            action.loop=THREE.LoopPingPong

            star.position.set(x, y, z)
            star1.position.set(x, y, z)


            //star2.scale.set(2,2,2)

            scene.add(star)
            scene.add(star1)


            action.play()

            mixers.push(mixer);
          }

          for(let i=0; i < randomInteger(100, 500); i++){
              createStar(scene)
          }


          console.log("add constellations")
        }

        const mixers = []
        const clock = new THREE.Clock()

        const scene = new THREE.Scene();
        const backgroundColor = new THREE.Color("hsl(209, 100%, 12%)")

        scene.background = backgroundColor;



        const camera = new THREE.PerspectiveCamera( 45, window.innerWidth / (window.innerHeight + 200), 0.1, 1000 );


        const renderer = new THREE.WebGLRenderer({ antialias: true });

        renderer.setSize( window.innerWidth, window.innerHeight + 200);

        const controls = new THREE.OrbitControls( camera, document.getElementById("content") );
        controls.enabled=false;
        controls.autoRotate = true;
        controls.autoRotateSpeed = 0.1;

        document.body.appendChild( renderer.domElement );

        camera.position.z = 20;
        controls.update();



        addConstellation(scene)

        const animate = function () {


    				requestAnimationFrame( animate );
            const delta = clock.getDelta()
            controls.update()

            mixers.forEach((mixer, i) => {
              mixer.update(delta)
            });


    				renderer.render( scene, camera );
    			};

    		animate();

        enableOrbitControls = function() {
          console.log("check")
          var checkbox = document.getElementById("controlCheckbox");
          controls.enabled = checkbox.checked;

          setTimeout(()=>{
            document.querySelector(".tooltiptext").style.display= "none";
          }, 5000)
        }

        console.log("loader")
    </script>

  </body>
</html>
